<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Restaurants</title>
<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/add">Add Restaurant</a>
        <a href="/restaurants">All Restaurants</a>
    </div>
</head>
<div class="container">
    <h1>Restaurants</h1>
    <ul>
        {% for restaurant in restaurants %}
        <li>
            <a href="{{ url_for('restaurant_detail', id=restaurant.id) }}">
                {{ restaurant.name }}
            </a> - {{ restaurant.location }} - {{ restaurant.cuisine_type }} - {{restaurant.rating}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
